.reactprogressable__progressbar.outer{
  width: 100%;
  overflow: hidden;
}
.reactprogressable__progressbar.outer .inner{
  height: 100%;
  overflow: hidden;
}
.reactprogressable__progressbar.outer .inner .fill-text{
  width: 96%;
  margin: auto;
  font-weight: bold;
  text-align: right;
  color: #fff;
  display: block;
  height: 100%;
}

.reactprogressable__progressbar.outer .inner.stripes {
  background-image: -webkit-linear-gradient(135deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-image: linear-gradient(-45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
  background-size: 35px 35px;
}
.reactprogressable__progressbar.outer .inner.stripes.animate.left {
  -webkit-animation: stripesAnim 2s linear infinite;
  -ms-animation: stripesAnim 2s linear infinite;
  animation: stripesAnim 2s linear infinite;
}
.reactprogressable__progressbar.outer .inner.stripes.animate.right {
  -webkit-animation: stripesAnimRight 2s linear infinite;
  -ms-animation: stripesAnimRight 2s linear infinite;
  animation: stripesAnimRight 2s linear infinite;
}

@-webkit-keyframes stripesAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-ms-keyframes stripesAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@keyframes stripesAnim {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 35px 35px;
  }
}
@-webkit-keyframes stripesAnimRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@-ms-keyframes stripesAnimRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
@keyframes stripesAnimRight {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: -35px -35px;
  }
}
